[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "OmicsLonDA"]
	path = OmicsLonDA
	url = https://github.com/aametwally/omicslonda
	shallow = true
	registered = true
